<div id="body">
  <div class="page">
    <div class="image-container">
      <img src="assets/la-sala-interna.jpg" alt="Immagine Locale">
      <div class="overlay"><span>{{ nomeLocale }}</span></div>
    </div>

    <div class="inserisci-commento" *ngIf="isProprietario">
      <h5 class="label">Rispondi come proprietario:</h5>

      <img class="logo" src="/assets/user-profile-icon-free-vector.jpeg" alt="mio-logo">

      <textarea class="commento-text" [(ngModel)]="nuovaRisposta" placeholder="Scrivi qui..."></textarea>

      <button class="conferma" (click)="invia()"> ➤ </button>
    </div>

    <div class="sezione-commenti">
      <h3 class="label">Risposte del gestore</h3>
      <div class="commento-item" *ngFor="let r of listaRisposte">
        <p><strong>{{ r.utente }}</strong> (Gestore): {{ r.risposta }}</p>
      </div>
      <p *ngIf="listaRisposte.length === 0 && !loading">Ancora nessuna risposta ufficiale.</p>
    </div>
  </div>
</div>
