<div id="body">
  <div class="page">
    <div class="image-container">
      <img [src]="getImmagineLocale()" alt="Immagine Locale">
      <div class="overlay"><span>{{ nomeLocale }}</span></div>
    </div>

    <div class="recensione-originale" *ngIf="recensione.testo">
      <div class="rec-header">
        <img class="user-pic"
             [src]="recensione?.immagineUtenteBase64
              ? 'data:image/*;base64,' + recensione.immagineUtenteBase64
              : 'assets/user-profile-free-vector.jpeg'"
             alt="user">
        <div class="user-info">
          <span class="nome-autore">{{ recensione.nomeUtente}}</span>
          <div class="voto-box">
            <span>{{ recensione.valutazione }}</span>
            <img src="/assets/star.png" alt="star" class="star-icon">
          </div>
        </div>
      </div>
      <p class="testo-recensione">"{{ recensione.testo }}"</p>
    </div>

    <div class="inserisci-commento" *ngIf="isProprietario">
      <h5 class="label">Rispondi come proprietario:</h5>
      <img class="logo" [src]="getImmagineProprietario()" alt="mio-logo">
      <textarea class="commento-text" [(ngModel)]="nuovaRisposta" placeholder="Scrivi qui..."></textarea>
      <button class="conferma" (click)="invia()"> ➤ </button>
    </div>

    <div class="sezione-commenti">
      <h3 class="label">Risposte del gestore</h3>
      <div class="commento-item" *ngFor="let r of listaRisposte">
        <p><strong>{{ r.utente }}</strong> (Gestore): {{ r.risposta }}</p>
      </div>
      <p *ngIf="listaRisposte.length === 0 && !loading">Ancora nessuna risposta ufficiale.</p>
    </div>
  </div>
</div>
