h1,h2{font-family: Verdana; font-size: xx-large;}
input{font-size: xx-large; font-family: "System Bold Italic"; background-color: black; color:white; border-radius: 50px; width: 300px; heigth: 250px; padding:20px; }
p{font-size:x-large;}
