.Grid{display: grid; grid-template-columns: auto auto auto; padding: 10px; align-items: center;}
.Flexbox2{display: flex; justify-content: space-around; align-items: stretch; align-content: flex-end; padding: 60px;}
.Flexbox3{display: flex; justify-content: space-around; align-items: flex-start; margin-bottom: 60px; }
.Flexbox4{display: flex; justify-content: space-evenly;}
#ristoranti1,#ristoranti2,#ristoranti3{transition: width 2s}
#ristoranti1:hover {
  width: 300px;

}

#ristoranti2:hover {
  width: 300px;

}

#ristoranti3:hover {
  width: 300px;

}
