#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;
  min-height: 100vh;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

#logoutButton {
  font-family: "Alkatra";
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: large;
  color: black;
  width: 100px;
  height: 50px;
  border: 2px solid black;
  cursor: pointer;
  margin: 5px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 1070px;
  transition: width 2s;
}






#logoutButton:hover {
  border-color: red;
  color: red;
  width: 110px;
}

#principale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: solid 2px black;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;
  gap: 0px;
}

#principale2 {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#fotoUtente {
  border-radius: 50%;
  box-shadow: 0px 5px 35px rgba(50,50,93,0.1);
  transition: transform 0.3s;
}

#fotoUtente:hover {
  transform: scale(1.1);
}

#textArea {
  resize: none;
  width: 60%;
  height: 100px;
  border-radius: 1rem;
  padding: 10px;
  font-size: 18px;
  margin: 10px 0;
}

#r,#modifica,#cuore,#struttura{
  font-family: "Alkatra";
  font-size: xx-large;
  background-image: linear-gradient(135deg, #00c6ff, #0072ff);
  border-radius: 50px;
  padding: 10px 20px;
  width: 230px;
  height: 50px;
  font-size: 22px;
  color: white;
  border: 2px solid #ddd;
  cursor: pointer;
  margin: 5px;
  transition: background-image 0.3s;
  transition: width 0.3s;
}

#modifica:hover {
  background-image: linear-gradient(135deg, #0072ff, #00c6ff);
  width: 300px;
}
#cuore:hover {
  background-image: linear-gradient(135deg, #0072ff, #00c6ff);
  width: 300px;
}
#r:hover {
  background-image: linear-gradient(135deg, #0072ff, #00c6ff);
  width: 300px;
}
#struttura:hover {
  background-image: linear-gradient(135deg, #0072ff, #00c6ff);
  width: 300px;
}


/* Stile Recensioni */
#recensioni-list {
  width: 80%;
  margin-top: 20px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}

.card-rec {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #0072ff;
}
