<div id="body">
  <main class="container">
    <h1>Archivio attività</h1>

    <div *ngIf="loading" style="text-align: center; margin: 20px;">Caricamento in corso...</div>

    <section class="section" *ngIf="!loading">
      <h2>Hotel</h2>
      <div class="grid">

        <div class="card" *ngFor="let hotel of listaHotel" (click)="vaiAlDettaglio(hotel.nomeLocale)">
          <img [src]="hotel.immagineBase64? 'data:image/*;base64,' + hotel.immagineBase64 : 'assets/strutturaDefault.png'"
               [alt]="hotel.nomeLocale">

          <div class="card-body">
            <h3>{{hotel.nomeLocale}}</h3>
            <p>{{hotel.indirizzo}}</p>
            <div class="stelleDiv">
              <ng-container *ngFor="let i of [0,1,2,3,4]">
                <img [src]="getStarSrc(i, hotel)" class="star">
              </ng-container>
            </div>
            <button class="button" (click)="visualizzaRecensioni(hotel.nomeLocale)">Recensioni</button>

          </div>
        </div>

        <p *ngIf="listaHotel.length === 0">Nessun hotel disponibile al momento.</p>
      </div>
    </section>

    <section class="section" *ngIf="!loading">
      <h2>Ristoranti</h2>
      <div class="grid">

        <div class="card" *ngFor="let rist of listaRistoranti" (click)="vaiAlDettaglio(rist.nomeLocale)" >
          <img [src]="rist.immagineBase64 ? 'data:image/*;base64,' + rist.immagineBase64 : '/assets/strutturaDefault.png'"
               [alt]="rist.nomeLocale">

          <div class="card-body">
            <h3>{{rist.nomeLocale}}</h3>
            <p>{{rist.indirizzo}}</p>
            <div class="stelleDiv">
              <ng-container *ngFor="let i of [0,1,2,3,4]">
                <img [src]="getStarSrc(i, rist)" class="star">
              </ng-container>
            </div>
            <button class="button" (click)="visualizzaRecensioni(rist.nomeLocale)">Recensioni</button>

          </div>
        </div>

        <p *ngIf="listaRistoranti.length === 0">Nessun ristorante disponibile al momento.</p>
      </div>
    </section>
  </main>
</div>
