<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<div class="Flexbox2">
  <h1>BENVENUTO A RENDE</h1>
</div>


<div class="search-container">
  <input type="search" placeholder="Cerca hotel o ristoranti..." [(ngModel)]="searchText" id="searchBar" (keyup.enter)="search()">
  <input type="button" value="Ricerca" id="ricercaButton" (click)="search()">
</div>

<div class="FlexBox3">
  <input type="button" value="HOTEL" id="hotel" routerLink="/hotels">
  <input type="button" value="RISTORANTI" id="ristoranti" routerLink="/restaurants">
</div>

<div class="contenitore-mappa">
  <div id="mappa-google"></div>
</div>





<div class="carosello-container">
  <p class="testo-ordinamento">Ordinati in base a: <b>Vicinanza</b></p>
  <p class="info-carosello">*Clicca su un locale per visualizzarne la posizione sulla mappa</p>

  <div class="carosello-wrapper">
    <div class="carosello-slide" *ngFor="let locale of localiOrdinati; let i = index" (click)="setMarker(locale)">

      <img [src]="getImmagine(i)" [alt]="locale.nomeLocale" id="immagineS">

      <span>{{locale.nomeLocale}}</span>
      <p *ngIf="i === 0" class="badge-vicino">
        📍 Il più vicino al centro!
      </p>

    </div>
  </div>
</div>
