<div id="body">
    <div id="principale">
        <div id="principale2">
          <h1>Modifica profilo</h1>
        </div>
        <div id="principale3">
          <div id="formContainer" *ngIf="utente">
            <div class="divbox nome"><label>Nome:</label></div>
            <textarea [(ngModel)]="utente.nome" class="textArea" placeholder="Inserisci nome"></textarea>

            <div class="divbox cognome"><label>Cognome:</label></div>
            <textarea [(ngModel)]="utente.cognome" class="textArea" placeholder="Inserisci cognome"></textarea>

            <div class="divbox username"><label>Username:</label></div>
            <textarea [(ngModel)]="utente.username" class="textArea" placeholder="Inserisci username"></textarea>

            <div class="divbox email"><label>Email:</label></div>
            <textarea [(ngModel)]="utente.email" class="textArea" placeholder="Inserisci email"></textarea>

            <div class="divbox descrizione"><label>Descrizione:</label></div>
            <textarea [(ngModel)]="utente.descrizione" id="descrizione" class="textAreaD" placeholder="Inserisci descrizione"></textarea>
          </div>
          <div id="fotoButtonContainer">
            <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)">
            <img id="fotoProfilo" [src]="preview || urlImmagine">
            <div id="azioni-immagine">
              <button id="sfoglia" (click)="fileInput.click()">Sfoglia</button>
              <label id="elimina-immagine" (click)="eliminaImmagine()">x</label>
            </div>
          </div>
          <div class="button-container">
            <button (click)="salva()" id="salvaModifiche">Salva modifiche</button>
            <button class="annulla" (click)="annulla()">Annulla</button>
            <span *ngIf="loading" class="spinner"></span>
          </div>
        </div>
    </div>
</div>
